<launch>
    <node name="ply_filter_node" pkg="diplom" type="ply_filter_node" output="screen" required="true">

        <!-- Обязательный параметр: Путь к входному PLY файлу -->
        <param name="input_ply_path" value="/home/prostagma/orb_maps/small_map_RAW_for_DIPLOM.ply"/>

        <!-- Необязательный параметр: Путь к выходному PLY файлу -->
        <!-- Если не указан, будет сгенерирован автоматически -->
        <!-- <param name="output_ply_path" value="/home/prostagma/orb_maps/output_ror_filtered.ply"/> -->

        <!-- Перезаписывать ли выходной файл, если он существует -->
        <param name="overwrite_output" value="true"/>

        <!-- Радиус поиска соседей -->
        <param name="radius_search" value="0.5"/> 

        <!-- Минимальное количество соседей в радиусе для сохранения точки -->
        <param name="min_neighbors" value="3"/> 

        <!-- Размер листа воксельной сетки -->
        <!-- Если не указан или <= 0, будет равен radius_search -->
        <param name="voxel_leaf_size" value="0.5"/> 

    </node>
</launch>